<h2>Re-enviar instrucciones de confirmaci&oacute;n</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Re-enviar instrucciones de confirmacion", :class => 'as_button' %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>