<% semantic_form_for booth do |f| %>
	<% if booth.errors.any? %>
		<div id="error_explanation" class="ui-widget alert">
			<div class="ui-state-error ui-corner-all">
				<h2><%= pluralize(booth.errors.count, "error") %>: Por favor corregir</h2>
				<ul>
					<% booth.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
	<p>
		<%= f.label "Codigo" %><br />
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.label "Numero de Booth" %><br />
		<%= f.text_field :booth_number %>
	</p>
	<p>
		<%= f.label "Color" %><br />
		<%= f.input :color, :as => :select, :label => false  %>
	</p>
	<p>
		<%= f.label "Disponible?" %><br />
		<%= f.input :available, :as => :radio, :label => false %>
	</p>
	
	<p><%= f.submit "Listo", :class => 'as_button' %></p>
<% end %>