<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map_file %><br />
    <%= f.text_field :map_file %>
  </div>
  <div class="field">
    <%= f.label :zoom %><br />
    <%= f.text_field :zoom %>
  </div>
  <div class="field">
    <%= f.label :zoom_x %><br />
    <%= f.text_field :zoom_x %>
  </div>
  <div class="field">
    <%= f.label :zoom_y %><br />
    <%= f.text_field :zoom_y %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'as_button' %>
  </div>
<% end %>
