<% semantic_form_for company do |f| %>
	<p>
		<%= f.label "Nombre" %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Perfil" %><br />
		<%= f.input :profile, :as => :text, :label => false %>
	</p>
	<p>
		<%= f.label "Tipo de Expositor" %><br />
		<%= f.input :exhibitor_type, :as => :select, :label => false, :prompt => "Seleccione..."  %>
	</p>
	<p><%= f.submit "Listo", :class => 'as_button' %></p>
<% end %>