<div class="grid_12 alpha">
	<div id="company-info">
		<div class="grid_8 alpha">
			<h2><%= @company.name %></h2>
			<p><%= @company.profile %></p>
			<p>Tipo de Expositor: <%= @company.exhibitor_type_name %></p>
			<p>Agente: <%= @company.user_name %></p>
		</div>
		<div class="grid_4 omega">
			<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left;\">icon</span> Editar".html_safe, edit_company_path(@company), :class => 'as_button' %> <%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left;\">icon</span> Borrar".html_safe, company_path(@company), :method => :delete, :class => 'as_button' %>
		</div>
	</div>
	<hr />
	<div id="contact-info">
		<% if @company.contact %>
			<div>
				<div class="grid_8 alpha">
					<h3>Contacto</h3>
					<%= @company.contact.name %><br />
					<%= @company.contact.email %>
				</div>
				<div class="grid_4 omega">
					<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left;\">icon</span> Editar".html_safe, edit_company_contact_path(@company, @company.contact), :class => 'as_button' %> <%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left;\">icon</span> Borrar".html_safe, company_contact_path(@company, @company.contact), :method => :delete, :class => 'as_button' %>
				</div>
			</div>
		<% else %>
		<h3>Contacto</h3>
		<%= link_to "<span class=\"ui-icon ui-icon-circle-plus\" style=\"float: left; margin-right: 5px;\">icon</span>Agregar contacto".html_safe, new_company_contact_path(@company), :class => 'as_button' %>
		<% end %>
		<hr />
	</div>
	<div id="office-info">
		<% if @company.office %>
			<div>
				<div class="grid_8 alpha">
					<h3>Direcci&oacute;n</h3>
					<% office = @company.office %>
					<% line1 = [office.address1, office.address2] %>
					<% line2 = [office.city, office.state_name, office.zip] %>
					<%= office.taxname %><br />
					<%= line1.join(', ')%><br />
					<%= line2.join(', ') %><br />
					<%= office.country_name unless office.country.nil? %><br />
					Tel. <%= office.phone unless office.phone.blank? %><br />
					Fax <%= office.fax unless office.fax.blank? %><br />
					Website: <%= office.website unless office.website.blank? %><br />
					<%= "RFC: " + office.rfc unless office.rfc.blank? %>
				</div>
				<div class="grid_4 omega">
					<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left;\">icon</span> Editar".html_safe, edit_company_office_path(@company, @company.office), :class => 'as_button' %> <%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left;\">icon</span> Borrar".html_safe, company_office_path(@company, @company.office), :method => :delete, :class => 'as_button' %>
				</div>
			</div>
		<% else %>
		<h3>Direcci&oacute;n</h3>
		<%= link_to "<span class=\"ui-icon ui-icon-circle-plus\" style=\"float: left; margin-right: 5px;\">icon</span>Agregar direcci&oacute;n".html_safe, new_company_office_path(@company), :class => 'as_button' %>
		<% end %>
	</div>
	<div class="clear"></div>
	<p class="back"><%= link_to "<span class=\"ui-icon ui-icon-arrow-1-w\" style=\"float: left;\">icon</span> Regresar".html_safe, companies_path, :class => 'as_button' %></p>
</div>
<div class="grid_4 omega">
	<h3>Booths asignados</h3>
	<ul>
		<% @company.reservations.each do |reservation| %>
			<li class="booths">
				<div class="sample" style="background: #<%= reservation.booth.color_hex_value %>">
					<span>&nbsp;</span>
				</div>
				<div class="stack">
					<%= reservation.booth.booth_number %>
				</div>
				<div class="stack">
					<%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left; margin-right: 5px;\">icon</span>".html_safe, company_reservation_path(@company, reservation), :confirm => "Esta seguro que desea borrar esta Reservacion?", :method => :delete %>
				</div>
				<div class="clear"></div>
			</li>
		<% end %>
	</ul>
	<p><%= link_to "<span class=\"ui-icon ui-icon-circle-plus\" style=\"float: left; margin-right: 5px;\">icon</span>Agregar booth".html_safe, new_company_reservation_path(@company), :class => 'as_button' %></p>
</div>
<div class="clear"></div>