<div class="grid_10 alpha">
	<div id="company-info">
		<h2><%= @company.name %></h2>
		<p><%= @company.profile %></p>
		<p>Tipo de Expositor: <%= @company.exhibitor_type.name %></p>
		<p>Agente: <%= @company.user.name %></p>
	</div>
	<p><%= link_to "Editar", edit_company_path(@company), :class => 'as_button' %> o <%= link_to "Regresar", companies_path %></p>
</div>
<div class="grid_6 omega">
	<h2>Booths asignados</h2>
	<ul>
		<% @company.reservations.each do |reservation| %>
			<li class="booths">
				<div class="sample" style="background: #<%= reservation.booth.color_hex_value %>">
					<span>&nbsp;</span>
				</div>
				<%= reservation.booth.booth_number %>
				<%= link_to "borrar", company_reservation_path(@company, reservation), :confirm => "Esta seguro que desea borrar esta Reservacion?", :method => :delete %>
			</li>
		<% end %>
	</ul>
	<p><%= link_to "Agregar booth", new_company_reservation_path(@company), :class => 'as_button' %></p>
</div>
<div class="clear"></div>