<% form_for color do |f| %>
	<% if color.errors.any? %>
		<div id="error_explanation" class="ui-widget alert">
			<div class="ui-state-error ui-corner-all">
				<h2><%= pluralize(color.errors.count, "error") %>: Por favor corregir</h2>
				<ul>
					<% color.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
	<p>
		<%= f.label "Nombre" %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Valor Hexadecimal" %><br />
		<%= f.text_field :hex_value %>
	</p>
	<p><%= f.submit "Listo", :class => 'as_button' %></p>
<% end %>