<div>
	<div class="grid_12 alpha">
		<h2>Colores</h2>
	</div>
	<div class="grid_4 alpha">
		<%= link_to "<span class=\"ui-icon ui-icon-circle-plus\" style=\"float: left; margin-right: 5px;\">icon</span>Nuevo color".html_safe, new_color_path, :class => 'as_button' %>
	</div>
</div>
<table class="datatable">
	<thead>
		<tr>
			<th>Color</th>
		</tr>
	</thead>
	<tbody>
		<% @colors.each do |color| %>
		<tr>
			<td class="onecolumn-only">
				<div class="sample" style="background: #<%= color.hex_value %>">
					<span>&nbsp;</span>
				</div>
				<%= color.name %>
				<div class="hovercontrols">
					<ul id="controls">
						<li><%= link_to "<span class=\"ui-icon ui-icon-pencil\">icon</span>".html_safe, edit_color_path(color) %></li>
						<li><%= link_to "<span class=\"ui-icon ui-icon-trash\">icon</span>".html_safe, color_path(color), :confirm => "Esta seguro que desea borrar este Registro?", :method => :delete %></li>
					</ul>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>