<div id="navigation">
	<% if user_signed_in? %>
		<div>
			Loggeado como <%= current_user.email %>. &iquest;No eres t&uacute;? <%= link_to "Salir", destroy_user_session_path %>
			<div id="menu">
				<ul>
					<li>Agregar Expositor</li>
					<li><%= link_to "Colores", colors_path %></li>
					<li><%= link_to "Tipos de Expositor", exhibitor_types_path %></li>
					<li><%= link_to "Booths", booths_path %></li>
				</ul>
			</div>
		</div>
	<% else %>
		<%= link_to "Login", new_user_session_path %>
	<% end %>
</div>